<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<!--Example starter code did not have class in body element below-->
<body class="container">

<header th:replace="fragments :: header"></header>

<!--Example starter code did not have conditional below-->
<p th:unless="${events} and ${events.size()}">No events!</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Location</th>
        </tr>
    </thead>
    <tr th:block th:each="event : ${events}">
        <td th:text="${event.getKey()}"></td>

        <th:block th:if="${event.getValue() == null or event.getValue() == ''}">
            <td>Description Not Yet Available</td>
        </th:block>

        <th:block th:unless="${event.getValue() == null and event.getValue() == ''}">
            <td th:text="${event.getValue()}"></td>
        </th:block>

        <td th:replace = "fragments :: eventLocation"></td>
    </tr>
</table>

</body>
</html>